<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fasm.NET" version="1.70.3" targetFramework="net8.0" />
  <package id="MemorySharp" version="1.2.0" targetFramework="net8.0" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.34.0" targetFramework="net8.0" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net8.0" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.34.0" targetFramework="net8.0" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net8.0" />
</packages>